<!--<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="base.BaseTest"/>
      <class name="pages.LoginTests"/>
    </classes>
  </test> 
  
</suite>  Suite -->
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="OpenEMR Automation Suite" parallel="tests" thread-count="3">
 <listeners> <!--<listener class-name="listeners.TestListener"/> -->
 <listener class-name="listeners.AllureListener"/>
 <listener class-name="io.qameta.allure.testng.AllureTestNg"/>
 </listeners>

    <test name="OpenEMR Regression">
        <classes>
            <class name="tests.LoginTests"/>
        </classes>
    </test>
   <!-- <test name="Report Test"> <classes> <class name="tests.ReportTestDemo"/> </classes> </test>-->
</suite>
