<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN" monitorInterval="60">

    <Properties>
        <Property name="LOG_DIR">logs</Property>
        <Property name="PATTERN">
            %d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %c{1} - %msg%n
        </Property>
    </Properties>

    <Appenders>

        <!-- Dedicated BasePage log file -->
        <RollingFile name="BasePageAppender"
                     fileName="${LOG_DIR}/base/BasePage.log"
                     filePattern="${LOG_DIR}/base/BasePage-%d{yyyy-MM-dd}-%i.log.gz">
            <PatternLayout pattern="${PATTERN}"/>
            <Policies>
                <SizeBasedTriggeringPolicy size="10 MB"/>
            </Policies>
        </RollingFile>

        <!-- Dedicated Framework log file -->
        <RollingFile name="FrameworkAppender"
                     fileName="${LOG_DIR}/framework/Framework.log"
                     filePattern="${LOG_DIR}/framework/Framework-%d{yyyy-MM-dd}-%i.log.gz">
            <PatternLayout pattern="${PATTERN}"/>
            <Policies>
                <SizeBasedTriggeringPolicy size="10 MB"/>
            </Policies>
        </RollingFile>

        <!-- Dynamic routing for pages/tests/utils/driver -->
        <Routing name="DynamicRouting">
            <Routes pattern="$${ctx:logFolder}">
                <Route>
                    <RollingFile name="PerClassLog"
                                 fileName="${LOG_DIR}/${ctx:logFolder}/${ctx:className}.log"
                                 filePattern="${LOG_DIR}/${ctx:logFolder}/${ctx:className}-%d{yyyy-MM-dd}-%i.log.gz">
                        <PatternLayout pattern="${PATTERN}"/>
                        <Policies>
                            <SizeBasedTriggeringPolicy size="10 MB"/>
                            <TimeBasedTriggeringPolicy interval="1"/>
                        </Policies>
                        <DefaultRolloverStrategy max="10"/>
                    </RollingFile>
                </Route>
            </Routes>
        </Routing>

        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="${PATTERN}"/>
        </Console>

    </Appenders>

    <Loggers>

        <!-- Dedicated BasePage logger -->
        <Logger name="BasePageLogger" level="info" additivity="true">
            <AppenderRef ref="BasePageAppender"/>
            <AppenderRef ref="Console"/>
        </Logger>

        <!-- Dedicated Framework logger -->
        <Logger name="FrameworkLogger" level="info" additivity="false">
            <AppenderRef ref="FrameworkAppender"/>
            <AppenderRef ref="Console"/>
        </Logger>

        <Logger name="tests" level="info" additivity="true">
            <AppenderRef ref="DynamicRouting"/>
            <AppenderRef ref="Console"/>
        </Logger>

        <Logger name="pages" level="info" additivity="false">
            <AppenderRef ref="DynamicRouting"/>
            <AppenderRef ref="Console"/>
        </Logger>

        <Logger name="base" level="info" additivity="false">
            <AppenderRef ref="DynamicRouting"/>
            <AppenderRef ref="Console"/>
        </Logger>

        <Logger name="driver" level="info" additivity="false">
            <AppenderRef ref="DynamicRouting"/>
            <AppenderRef ref="Console"/>
        </Logger>

        <Logger name="utils" level="debug" additivity="false">
            <AppenderRef ref="DynamicRouting"/>
            <AppenderRef ref="Console"/>
        </Logger>

        <Logger name="listeners" level="info" additivity="false">
            <AppenderRef ref="DynamicRouting"/>
            <AppenderRef ref="Console"/>
        </Logger>

        <Root level="error">
            <AppenderRef ref="Console"/>
        </Root>

    </Loggers>

</Configuration>
